<div style = "font-family: sans-serif">
  <center>
    <form action="/greeting" method ="post">
      Name?
      <br>
      <input type="text" name="name" placeholder="Your name">
      <button name="Submit">Submit</<button>
    </form>
  </center>
</div>
<!--

-->
